body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.homeJump {
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px black;
  
}
.mainJumbo {
  background-image: url('https://previews.123rf.com/images/jakarin2521/jakarin25211710/jakarin2521171000018/87678571-radar-screen-and-world-map-in-futuristic-style.jpg');
  background-size: cover;
}
.secJumbo{
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px black;

}

.info {
  position: absolute;
  /* left: 0px;
  top: 130px; */
  z-index: 2;
  font-size: 20px;
  background-color: white;
  width:200px;
  height: 160px;
  color:black;
  text-shadow:1px  green;
  opacity:0.7;
  border-radius:40px;
  text-align: center;
}

.arc {
  z-index: 1;

}
.mapView {
  z-index: 0;  
  position: relative;
}
.tabStyles{
  background-color: #343A40;
  color: white;
  text-shadow: 1px  black;
  font-weight: bolder;
  border:2px solid green
}
